<div class="row pb-4">
  <div class="col-md-5">
    <div class="fh5co_hover_news_img">
      <div class="fh5co_news_img">
        {{ fields.field_news_image.content }}
      </div>
      <div></div>
    </div>
  </div>
  <div class="col-md-7">
    <a class="fh5co_magna py-2">
        {{ fields.title.content }}
    </a>
    <br>
    <a class="fh5co_mini_time py-3">
      {{ fields.uid.content }} - {{ fields.created.content }}
    </a>
    <br>
    <div class="fh5co_consectetur">
        {{ fields.body.content }}
    </div>
  </div>
</div>
